allow keystore firmware_file:dir search;
allow keystore firmware_file:file read;
allow keystore firmware_file:file open;
allow keystore firmware_file:file getattr;
